/* Google font  */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Work Sans", sans-serif;
}

/* header menu  style  */
.header-nav {
  display: flex;
  justify-content: space-around;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  align-items: center;
  padding: 20px 0px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 15px;
}
.logo h2 {
  text-align: center;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
}
.logo span {
  color: #ff42a5;
}
ul {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
}
ul li {
  color: #3c354f;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.follow {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 3px 8px;
}
.fa-youtube {
  color: red;
  padding: 0 5px;
}
/* heading style end  */

/* banner area style css  */
.banner {
  margin-top: 50px;
}
.banner-container {
  width: 80%;
  margin: 0 auto;
}
.banner-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.banner-text h3 {
  color: #0b0223;
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-text h2 {
  text-align: center;
  font-size: 95px;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;

  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-text p {
  color: #534c64;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  text-transform: lowercase;
  margin-bottom: 10px;
}
.sing-ing {
  padding: 12px 25px;
  border: none;
  font-size: 16px;
  border-radius: 50px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  color: #fff;
  margin-top: 20px;
  cursor: pointer;
}
.btn-second {
  background: #4ec5f7;
  padding: 12px 25px;
  border: none;
  font-size: 16px;
  border-radius: 50px;
  color: #fff;
  margin-top: 20px;
  cursor: pointer;
}
/* gamer area style css  */
.gamer-area {
  width: 80%;
  margin: 0 auto;
}

.gamer-container {
  display: flex;
  align-items: center;
  margin-top: 80px;
}
/* .gamer-img{
  width: 50%;

} */

.gamer-content {
  /* width: 50%; */
  text-align: right;
}
.gamer-content h3 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gamer-content p {
  color: #534c64;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

/* Funny video section css  */
.video-container {
  width: 80%;
  margin: 0 auto;
}
.video-content {
  margin-top: 50px;
  text-align: center;
}
.video-heading {
  font-size: 48px;
}
.video-heading span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.video-heading p {
  color: #534c64;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.video-card {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.card img {
  max-width: 100%;
  height: auto;
}

.card {
  flex-basis: calc(25%) -1rem;
  position: relative;
}
.hover-img {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.hover-img img {
  display: block;
  margin: 0.8rem auto;
}
.card:hover .card-img {
  -webkit-filter: brightness(30%);
  transition: 0.5s ease-in-out;
}
.card:hover .hover-img {
  display: block;
  color: #f948b2;
  font-weight: 500;
  transition: 0.4s ease-in-out;
}
.card-des {
  color: #534c64;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}

/* Play Instantly section */
